/conf/kafkacert/
/libs/boost
/.idea
*~

*.pyc
*.bin
*.cbp
*.pid
*.cmake

/scripts/.idea

/app_auth/build
/app_auth/dist
/app_auth/.dep.inc
/app_auth/nbproject/private
/app_auth/nbproject/*.mk

/app_bill/build
/app_bill/dist
/app_bill/.dep.inc
/app_bill/nbproject/private
/app_bill/nbproject/*.mk

/src-bill/version.cpp

/test_results/*

app_bill

/CMakeFiles/*
CMakeCache.txt
Makefile

/ftest.cpp
/libtest.obj.a
/utest.cpp

accounting
catch_tests
compile_commands.json

libs/boost*
libs/boost*/*
libs/prometheus-cpp/*
libs/clickhouse/*
dockerfiles/*
utils/.DS_Store
utils/SQL/.DS_Store
install/docker-clickhouse-empty/
utils2/sql_for_regional_servers.sql

install/werf/tags
install/werf/current/*
install/werf/builds/*
install/werf/cache/*
src-bill/web/api/DocGen.h
utils2/sql_for_regional_servers.sql

.metals/
project/.bloop/
project/project/metals.sbt
target
project/target
.bloop

.ansible_user
install/z.tar.gz
